.main-product{
    background-color: #e8e8e8;
    .product-inf{
        padding: 30px 0;
        text-align: center;
        .group-parents{
            margin-bottom: 10px;
            h4{
                @include text(1rem 'UTM BryantLG',null,capitalize);
                margin: 0;
            }
        }
        .title-name{
            margin-bottom: 30px;
            h1{
                @include text(2rem 'UTM BryantLG',1.2,uppercase);
                margin: 0;
                color: $color-title;
            }
        }
        .product-list-carousel{
            .top-product{
                margin-bottom: 30px;
                .swiper-slide{
                    .top-img{
                        @include size(80%,auto);
                        margin: auto;
                        img{
                            @include img-fit(100%,cover);
                            display: block;
                            margin: auto;
                        }
                    }
                }
                .next-product,.prev-product{
                    opacity: 0.5;
                }
            }
            .select-color{
                margin-bottom: 25px;
                h3{
                    @include text(1rem 'UTM BryantLG',null,uppercase);
                    color: #3e3d3e;
                    margin: 0;
                }
            }
            .list-previews-product{
                width: 70%;
                margin: auto;
                .thumbs-product{
                    margin-bottom: 20px;
                    .swiper-slide{
                        .thumbs-img{
                            @include size(100%,90px);
                            cursor: pointer;
                            margin-bottom: 0;
                            img{
                                @include img-fit(100%,contain);
                                height: 100%;
                                display: block;
                                margin: auto;
                            }
                        }
                    }
                }
            }
            .price{
                margin-bottom: 15px;
                h5{
                    @include text(1rem 'UTM BryantLG',null);
                    margin-bottom:1rem;
                    color: #1a1a1a;
                }
                span{
                    @include text(20px 'UTM Caviar',null,uppercase);
                    color: $color-price;
                }
            }
        }
    }
    .specifications{
        background-color: $bg-product-primary;
        .specifications-wrapper{
            padding: 20px 0;
            text-align: center;
            .title{
                display: inline-block;
                margin-bottom: 30px;
                position: relative;
                padding: 10px 0;
                &:before{
                    @include before(
                        '',
                        0,
                        50%
                    );
                    @include size(20%,3px);
                    background-color: #5f0066;
                    @include transform(translateX(-50%));
                }
                h2{
                    @include text(26px 'UTM BryantLG',1.2,uppercase);
                    margin: 0;
                    color: #3e3d3e;
                }
            }
            .table-specifications{
                width: 60%;
                margin: auto;
                tbody{
                    tr.primary{
                        th{
                            text-align: left;
                            @include text(bold 14px 'UTM Caviar',26px);
                            color: $color-text-primary;
                        }
                        td{
                            text-align: right;
                            @include text(14px 'UTM Caviar',26px);
                            color: $color-text-primary;
                        }
                    }
                    tr{
                        td{
                            text-align: right;
                            @include text( 14px 'UTM Caviar',26px);
                            padding-left: 5px;
                            color: $color-text-primary;
                            &:first-child{
                                text-align: left;
                                padding-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    .product-introduction{
        background-color: $bg-product-primary;
        .product-introduction-wrapper{
            padding: 20px 0;
            text-align: center;
            width: 90%;
            margin: auto;
            .title{
                display: inline-block;
                margin-bottom: 30px;
                position: relative;
                padding: 10px 0;
                &:before{
                    @include before(
                        '',
                        0,
                        50%
                    );
                    @include size(20%,3px);
                    background-color: #5f0066;
                    @include transform(translateX(-50%));
                }
                h2{
                    @include text(26px 'UTM BryantLG',1.2,uppercase);
                    margin: 0;
                    color: #3e3d3e;
                }
            }
            .content{
                p{
                    @include text(14px 'UTM Caviar',26px);
                    color: $color-text-primary;
                }
            }
        }
    }
}