.group-info{
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #f5f4f4;
    .group-info-wrapper{
        width: 80%;
        margin: auto;
        .group-parents{
            text-align: center;
            margin-bottom: 10px;
            h4{
                @include text(1rem 'UTM BryantLG',1);
                color: #1a1a1a;
                margin: 0;
            }
        }
        .title-name{
            text-align: center;
            margin-bottom: 35px;
            h1{
                @include text(40px 'UTM BryantLG',1.2,uppercase);
                color: $color-title;
                margin: 0;
            }
        }
        .description{
            text-align: center;
            p{
                @include text(14px 'UTM Caviar',26px);
                color: $color-text-primary;
            }
        }
    }
}