.main-contact{
    padding: 45px 0;
    .contact-info{
        @include flex(null,null,wrap);
        position: relative;
        margin-bottom: 30px;
        &:before{
            @include before(
                '',
                100%,
                0
            );
            @include size(30%,2px);
            background-color: $color-pr;
            border-radius: 25px;
        }
        .contact-showroom{
            margin:0 45px;
            margin-bottom: 30px;
            width: calc(50% - 45px);
            &:nth-of-type(2n){
                margin-right: 0;
            }
            &:nth-of-type(2n + 1){
                margin-left: 0;
            }
        }
        .company{
            margin-bottom: 20px;
            h3{
                @include text(bold 24px 'Montserrat Semi',null,uppercase);
                color: $color-text;
                margin-bottom: 0;
            }
        }
        .address{
            p{
                @include text(16px 'Montserrat Light');
                color: $color-contact;
                margin-bottom: 10px;
                span{
                    padding-right: 12px;
                }
                a{
                    color: $color-contact;
                    text-decoration: none;
                }
                img{
                    @include size(30px,30px);
                    @include img-fit(null,cover);
                }
            }
        }
    }
}