$color-w:#ffffff;
$color-b:#000000;
$color-pr:#dca943;
$bg-service:#c49737;
$bg-gray:#333333;
$bg-footer:#4d4d4d;
$color-footer:#f1f1f1;
$color-text:#bd9037;
$color-contact:#414042;
$color-r:#ff0000;
$color-title:#010101;
$bg-desc:#4e4e4e;
$bg-group:#f5af28;